@import 'tailwindcss';

@theme {
  --font-Inter: "Inter", sans-serif;
  --font-Inria: "Inria Serif", sans-serif;
  --font-SF: "SF Pro", sans-serif;
}

html, body, #root {
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--color-tg-bg);
  color: var(--color-tg-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}

a {
  color: var(--color-tg-link);
  text-decoration: none;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

